* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

h1 {
	color: #36393B;
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	background-color: black;
	padding: 2px;
	width: 400px;
}

button {
	/* color: white; */
	/* border-radius: 4px; */
	/* background-color: #333d29;  */
	text-align: center;
	margin: 1px;
	padding: 7px 0 7px 0;
	font-weight: bold;
	font-size: x-large;

}

.display {
	color: white;
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: black;
	text-align: end;
	padding-right: 10px;
	font-size: x-large;
}