* {
    box-sizing: border-box;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
}
h1 {
    color: blue;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: black;
    border: solid 5px grey;
    padding: 2px;
    width: 400px;
}

.btn {
    color: white;
    border: solid 3px gray;
    border-radius: 4px;
    background-color: darkslategrey;
    text-align: center;
    margin: 1px;
    padding: 5px 0 5px 0;
}

.resultado {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;    
    text-align: end;
    padding-right: 10px;
}